* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-image: url('pexels-eberhardgross-2310713.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  padding: 30px;
}

.header img {
  max-width: 90%;
  height: auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 20px;
}

.navbar a {
  color: #2a9b9f;
  background-color: rgb(235, 251, 255);
  padding: 12px 30px;
  border: 3px solid #79a1f9;
  border-radius: 999px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  color: #2a67c8;
  background-color: rgb(220, 247, 255);
}

/* Responsif */
@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .navbar a {
    font-size: 18px;
    padding: 10px 20px;
    width: 180px;
  }
}