* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-image: url(pexels-eberhardgross-2310713.jpg);
}

.header {
  text-align: center;
  padding: 30px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 10px;
}

.navbar a {
    color: #2a9b9f;
    background-color: rgb(235, 251, 255);
    padding: 20px 40px;
    border: 3px solid #79a1f9;
    border-radius: 999px;
    font-size: 25px;
    text-decoration: none;
    transition: color 0.5s;
}

.navbar a:hover {
    color: #2a67c8;
    background-color: rgb(220, 247, 255);
}

/* Responsif di HP */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }

  .header {
    padding: 10px;
  }

  .navbar a {
    padding: 10px 20px;
    font-size: 18px;
  }

  .gambar {
    max-width: 35%;
    height: auto;
  }
}

.gambar {
    max-width: 50%;
    height: auto;
}
